<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="/style.css" rel="stylesheet" />
    <title>Page Detail</title>
</head>

<body>
    <section>
        <div class="container text-center">
            <marquee direction="left" height="30" width="700" bgcolor="white" style="font-weight: bold;">Selamat
                menyaksikan data yang anda masukkan :)</marquee>
            <h1>Halaman Detail Data</h1>
            <div class="row pt-3">
                <div class="col-md-12 table-dark pt-3">
                    <form>
                        <% Object.values(data).forEach((product)=> { %>
                            <div class="form-group pt-3 pb-1">
                                <label>Judul :</label>
                                <label>
                                    <%= product.title_book %>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Penulis :</label>
                                <label>
                                    <%= product.writer %>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Tahun Terbit :</label>
                                <label>
                                    <%= product.year_publish %>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>User ID :</label>
                                <label>
                                    <%= product.user_id %>
                                </label>
                            </div>
                            <% }) %>
                    </form>
                </div>
            </div>
            <h4 class="pt-3"><a href="/" class="btn btn-primary" style="color: white;">Kembali</a></h4>
        </div>
    </section>
    <!-- Script -->

</body>

</html>