<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="/style.css" rel="stylesheet" />
  <title>Page Edit</title>
</head>

<body>
  <section>
    <div class="container text-center">
      <marquee direction="left" height="30" width="700" bgcolor="white" style="font-weight: bold;">Tolong isi data
        dengan
        teliti & benar!!!</marquee>
      <h1>Halaman Edit Data</h1>
      <div class="row">
        <div class="col-md-12 pb-3">
          <h3> Silahkan tambahkan data sesuai dengan yang anda inginkan ya, cmiwww :)</h3>
          <h4 class="pt-3">Kalau mau melihat data anda yang sudah dimasukkan, bisa dicek disini <a href="/"
              class="btn btn-primary" style="color: white;">Check Kuy</a></h4>
        </div>
        <div class="col-md-12 table-dark">
          <% data.forEach((product)=> { %>
            <form action="/product/edit/<%= product?.id %>" method="POST">
              <div class="form-group pt-3 pb-1">
                <label>Judul</label>
                <input id="addJudul" type="text" name="title_book" value="<%= product.title_book %>"><br>
              </div>
              <div class="form-group">
                <label>Penulis</label>
                <input id="addName" type="text" name="writer" placeholder="Penulis Buku"
                  value="<%= product.writer %>"><br>
              </div>
              <div class="form-group">
                <label>Tahun</label>
                <input id="addTahun" type="text" name="year_publish" placeholder="Tahun Pembuatan Buku"
                  value="<%= product.year_publish %>"><br>
              </div>
              <div class="form-group">
                <label>User ID</label>
                <input id="addUserID" type="text" name="user_id" placeholder="User ID Pengguna"
                  value="<%= product.user_id %>"><br>
              </div>
              <button>Update Book</button>
            </form>
            <% })%>
        </div>
      </div>
    </div>
  </section>
  <!-- Script -->

</body>

</html>