<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <title>Homapage</title>
</head>

<body>
  <div class="container">
    <h1 class="text-center">Halaman Homepage</h1>
    <h5>Data Buku Milik <%= user %>
    </h5>
    <a href="/products" class="btn btn-primary float-left" style="margin-bottom: 10px">Tambahkan Data</a>
    <table class="table table-dark text-center">
      <thead>
        <tr>
          <th scope="col">Nomor</th>
          <th scope="col">Judul</th>
          <th scope="col">Penulis</th>
          <th scope="col">Tahun Terbit</th>
          <th scope="col">User ID</th>
        </tr>
      </thead>
      <tbody>
        <% let no=1; %>
          <% Object.values(data).forEach((product)=> { %>
            <tr>
              <td>
                <%= no++ %>
              </td>
              <td>
                <%= product.title_book %>
              </td>
              <td>
                <%= product.writer %>
              </td>
              <td>
                <%= product.year_publish %>
              </td>
              <td>
                <%= product.user_id %>
              </td>
              <td class="float-right">
                <a href="/product/detail/<%= product.id %>">
                  <button class="btn btn-info" style="margin-right: 10px">Detail</button>
                </a>
                <a href="/product/edit/<%= product.id %> ">
                  <button type="button" class="btn btn-success" style="margin-right: 10px">Edit</button>
                </a>

                <a href="/delete/<%= product.id %> ">
                  <button type="button" class="btn btn-danger" style="margin-right: 10px">Delete</button>
                </a>
              </td>
            </tr>
            <% }) %>
      </tbody>
    </table>
  </div>
  <!-- Script -->

</body>

</html>